[submodule "FlomeWorld.github.io"]
	path = FlomeWorld.github.io
	url = git@github.com:FlomeWorld/FlomeWorld.github.io.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
